.icon{
  width: 10px;
  height: 10px;
  display: flex;
  background-repeat: no-repeat;


  &--lang-arrow{
    background-image: url('../images/icon/kate-lang_arrow.svg');
  }

  &--menu{
    width: 20px;
    height: 10px;
    background-image: url('../images/icon/kate-menu.svg');

    @include on-tablet{
      width: 29.25px;
      height: 13px;
    }

    @include on-desktop{
      display: none;
    }
  }

}
