@import 'utils';
@import 'fonts';
@import 'typography';
@import './header';
@import './icon';
@import './nav';
@import './top-bar';

body {
  min-width: 320px;
  background: $bg-black-color;
  margin: 0;
}

.container{
  max-width: 1440px;
  margin-inline: auto;

  @include padding-inline;
}
