@import 'utils';
@import 'fonts';
@import 'typography';
@import './header';
@import './icon';
@import './nav';
@import './top-bar';
@import './menu';
@import './faq';
@import './help';

body {
  min-width: 320px;
  background: $bg-black-color;
  margin: 0;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $bg-line-color transparent;
}

.container{
  max-width: 1440px;
  margin-inline: auto;
  @include padding-inline;
}
