$c-gray: #eee;
$tablet-min-width: 640px;
$desktop-min-widtx: 1440px;
$bg-gradient: linear-gradient(107.56deg, #191536 0%, #000 100%);
$white-color: #fff;
$main-blue-color: #05C2DF;
$bg-black-color: #05040B;
$greu-header-color: #929292;



